<div class="row">
  <div class="col-sm-3">
    <div class="lenCategories">
      <h2>
        {{len.brand}}
      </h2>
      <h3>
        {{len.type}}
      </h3>
      <br>
      <img src={{len.image}} />
      <br>
      <p>
        {{len.condition}}
      </p>
      <p>
        {{len.description}}
      </p>
      <br>
      <p>
        {{len.pricing}}
      </p>
    </div>
    <button {{action 'destroyLen' len}}>Delete This Listing</button>

    {{update-len len=len updateLen="updateLen"}}
  </div>
</div>
