{{#if addNewLen}}
  <h1>New Listing</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="brand">Brand</label>
          {{input value=brand id="brand"}}
        </div>

        <div class="form-group">
          <label for="type">Type</label>
          {{input value=type id="type"}}
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          {{input value=description id="description"}}
        </div>

        <div class="form-group">
          <label for="condition">Condition</label>
          {{input value=condition id="condition"}}
        </div>

        <div class="form-group">
          <label for="pricing">Pricing</label>
          {{input value=pricing id="pricing"}}
        </div>

        <div class="form-group">
          <label for="image">Image</label>
          {{input value=image id="image"}}
        </div>

        <button {{action 'saveLen'}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'lenFormShow'}}>New Listing</button>
{{/if}}
